/* Global */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-sans-serif;
}

/* Functions */
.multi-level, .item ul, .div-navbar input[type="checkbox"] {
  display: none;
}
#menu:checked ~ .multi-level, .item input:checked ~ ul {
  display: block;
}

/* Arrow */
